__pycache__/
*.pyc
.env
.venv/
venv/

.DS_Store
.idea/
.vscode/

*.log

postgres_data/
mongo_data/

# Frontend
web/node_modules/
web/dist/

# LaTeX aux
*.aux
*.out
*.toc
informe.log

# Runtime / local tooling
.dbclient/

# Misc
overleaf/
PDF document.pdf
informe.pdf
